.userItem {
    margin: 2%;
    padding-left: 2%;
    display: flex;
    justify-content: space-around;
}

.userItem:hover{
    border: gray 1px solid;
}

.userAvatar {
    text-align: center;
}

.userAvatar img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-top: 15px;
}

.userInfo {
    border: 2px gray solid;
    border-radius: 20px;
    padding: 3%;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    color: black;
    text-decoration: none;
}   

.name{
    display: flex;
    font-size: 24px;
}

.name p {
    margin: 5px 10px;
}

.status {
    margin: 5px 10px;
}

.blubtn {
    width: 150px;
    text-align: center;
    display: block;
    font-family: arial;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    border: #1071FF 1px solid;
    color: #1071FF;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 15px auto;
    transition: .5s;
    border-radius: 0px;
}

.blubtn:hover {
    top: 5px;
    transition: .5s;
    color: #db9a4f;
    border: #db9a4f 1px solid;
    border-radius: 15px;
}

.blubtn:active {
    color: #db9a4f;
    border: #db9a4f 1px solid;
    transition: .07s;
}