.postSpace {
    margin-top: 20px; 
}

.newPost {
    border: solid 3px #9A84A4;
    border-radius: 5px;
    padding: 10px;
    display: flex;
}

.postBox {
    margin-top: 20px;
}

.postBox h3 {
    padding: 20px;
    background-color: white;
    border: solid 1.5px #9A84A4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.posts {
    margin: 0;
}